> ![logo100px.jpg]()



# Desafio Dados2Dados: Consumindo API de tempo e temperatura com Python e SQL

https://colab.research.google.com/gist/ricosuhete/6b97ce298620912687fc985892a52144/api_openweathermap.ipynb


# RESOLUÇÃO:

- Obter a temperatura atual para uma lista de cidades do seu estado e armazenar os resultados em uma tabela SQL.

- Analisar a temperatura máxima e mínima para cada cidade em um período de 30 dias e exibir os resultados em uma tabela SQL.

- Determinar a cidade com a maior diferença entre a temperatura máxima e mínima e exibir o resultado em uma tabela SQL.

- Identificar a cidade mais quente e a cidade mais fria em um período de 30 dias e exibir os resultados em uma tabela SQL.

- Calcular a média da temperatura para cada dia em um período de 30 dias e exibir os resultados em uma tabela SQL.

- Identificar as cidades com as maiores e menores variações de temperatura em um período de 30 dias e exibir os resultados em uma tabela SQL.

- Obter a previsão do tempo para uma lista de cidades do seu estado nos próximos 7 dias e armazenar os resultados em uma tabela SQL.

- Identificar a cidade com a maior quantidade de dias chuvosos em um período de 30 dias e exibir o resultado em uma tabela SQL.

- Calcular a média de umidade para cada dia em um período de 30 dias e exibir os resultados em uma tabela SQL.

- Identificar as cidades com a maior e menor umidade média em um período de 30 dias e exibir os resultados em uma tabela SQL.